
        <div class="card cardmebook"  style="width: 30rem; height: auto;">
          <div class="card-body align-items-center"> 
          <form action="" class="form " >
  
            <mat-form-field class = "formField">
              <label for="" class="lab">Full Name</label>
              <br>
              <input type="text" class="input" matInput formControlName = "fullname" name="PlaceName" matInput placeholder="FullName" >
              <mat-error>
                 Name Can't Be Blanked
               </mat-error>
             </mat-form-field>
  
             <mat-form-field class = "formField">
              <label for="" class="lab">EmailID</label>
              <br>
              <input type="text" class="input" matInput formControlName = "fullname" name="PlaceName" matInput placeholder="EmailID">
              <mat-error>
                 Name Can't Be Blanked
               </mat-error>
             </mat-form-field>
  
             <mat-form-field class = "formField">
              <label for="" class="lab">Contact</label>
              <br>
              <input type="text" class="input" matInput formControlName = "fullname" name="PlaceName" matInput placeholder="Contact">
              <mat-error>
                 Name Can't Be Blanked
               </mat-error>
             </mat-form-field>
  
             <mat-form-field class = "formField">
              <label for="" class="lab">Password</label>
              <br>
              <input type="password" class="input" matInput formControlName = "fullname" name="PlaceName" matInput placeholder="password">
              <mat-error>
                 Name Can't Be Blanked
               </mat-error>
             </mat-form-field>
  
             <div class="text-center">
              <button class="btn btn-success text-center">Register</button>
             </div>
  
          </form>
          </div>
  
        </div>
 

