.cardmebook
{
    border-radius: 20px;
    background: #cddbf1;
}
.cardd
{
    border: 2px solid rgb(190, 64, 64);
    width: max-content;
}
.input
{
    width: 80%;
    border-radius: 5px;
    height: 40px;
    background: #cddbf1;
    border: 2px solid #083441;
    
}
.formField
{
    align-items: center;
    width: 450px;
    margin-top: -15px;
    text-align: center;
    
}
.lab
{
    font-size: 1.5em;
    font-weight: 500;
    color: #083441;
    
}
